body {
	text-align: center;
	background-image: url("../images/steamboat-willie.jpg");
}

.container {
	background-color: rgba(255, 255, 255, 0.8); 
	font-family: 'Oswald', sans-serif;
	min-height: 206px; 
}

h1 {
	font-family: 'Mouse Memoirs', sans-serif;
	margin-bottom: 30px;
	font-size: 50px;
}

.page2, .page3 {
	display: none;
}
